html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    background: url(../img/wallpaper.jpg) no-repeat center center fixed; 
    background-color: #194158;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
}

body {
  background-color: rgba(0, 0, 0, 0);
}
.top-buffer { 
  margin-top:20px; 
}

.center-content {
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.intro {
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
}

.intro-content {
    display: table-cell;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
    font-family: 'Overpass Mono', monospace;
}

@media screen and (max-width: 1000px){
  .intro {
      background-image: url(../img/wallpaper_s.jpg); /* Fullscreen Background Image */
      background-size: cover;
      background-position: center;
      background-color: #194158;
      position: fixed;
      z-index: 10;
      overflow: hidden;
      width: 100%;
      height: 100%;
      color: #fff;
  }

  .intro-content {
      display: table-cell;
      font-size: 1.15em;
      margin: 0;
      padding: 0;
      padding-top: 15%;
      min-width: 100%;
      min-height: 100%;
      vertical-align: top;
      font-family: 'Overpass Mono', monospace;
  }
}


.maintitle {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: 4em;
    color: white;
}

.subtitle {
    font-family: 'Overpass Mono', monospace;
    font-size: 2.5em;
    font-weight: normal;
    margin: 15px 0;
}

.maincontent {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 1em;
  background: rgba(0, 0, 0, 0) !important;
}

.trans {
  background: rgba(0, 0, 0, 0) !important;
}

.resizev {
  resize: vertical;
}

.console-style {
  background-color: rgba(64,64,64,0.8) !important;
  color: rgb(250,250,250) !important;
}
